{% extends 'video/base.html' %}
{% block content %}
    {% if videos %}
        <h1>Filmy wstawione przez {{ view.kwargs.username }}</h1>
        {% for video in videos %}
            <h2><a href="{% url 'video:detail' video.id %}">{{ video.title }}</a></h2>
            <p>Autor: {{ video.author }} Data publikacji: {{ video.created }}</p>
        {% endfor %}

        {% include 'video/pagination.html' with page=page_obj %}

    {% else %}
        <h1>Użytkownik {{ view.kwargs.username }} nie wstawił jeszcze żadnych filmów</h1>
    {% endif %}

{% endblock %}