{% extends 'video/base.html' %}
{% load add_css %}
{% block content %}
    <div class="form-d">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label>Tytuł*</label>
            {{ form.title|addcss:"form-control" }}
            <label class="mt-3">Opis*</label>
            {{ form.description|addcss:"form-control" }}<br>
            <label>Film*</label><br>
            {{ form.video|addcss:"mt-1 mb-4" }}<br>
            <label>Miniaturka*</label><br>
            {{ form.thumbnail|addcss:"mt-1" }}<br>
            <button class="btn btn-primary mt-3">Zapisz</button>
            <a href="{% url 'video:main_list' %}" class="btn btn-primary mt-3">Anuluj</a>
        </form>
    </div>


{% endblock %}