body{
    font-family: 'Roboto', sans-serif;
}

#mainLogo{
    font-size: 48px;
    font-weight: bold;
    color: #444;
}

.navbar-nav a{
    color: #444;
}

.navbar-nav a:hover{
    color: #000;
}

.nav-item{
    font-size: 19px;
    padding: 15px;
}

.container{
    padding-top: 25px;
}