body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

a{
    color: #444;
}

a:hover{
    color: black;
}

#mainLogo{
    font-size: 48px;
    font-weight: bold;
    color: #444;
}

.nav-item{
    font-size: 19px;
    padding: 15px;
}

.container{
    padding-top: 15px;
}

.post{
    padding: 10px;
}

#logout a{
    color: #007bff;
}

#logout a:hover{
    color: #0059dd;
}

.asteriskField{
    display: none;
}
